---
---

@import "{{ site.theme }}";
body {
    font-family: 'Roboto', sans-serif; 
    color: #283618;
    background-color: #FEFAE0;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box;*/
    width: 90%;
}

header {
    background-color: #606C38;
    color: #606C38;
    padding: 1em;
    text-align: center;
    width: 90%;
}

h1, h2, h3, h4, h5, h6 {
    color: #606C38; /* Change the color of all headers*/
    width: 90%;
}

#container {
  min-height:595px;
  background:transparent url(../images/highlight-bg.jpg) 50% 0 no-repeat
}
.inner {
  width: 90%;
  margin:0 auto
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #BC6C25;
    font-weight: bold;
}

nav a:hover {
    color: #3498db;
}

main {
    padding: 20px;
    background-color: #606C38;
    color: #DDA15E;
    width: 90%;
    max-width: 800px;
}

section {
    margin-bottom: 60px;
    background-color: #FEFAE0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
}

#main_content {
    max-width:1000px;
    margin: 0 auto;
    padding: 20px;
    color: #283618;
}

#downloads {
    max-width:1000px;
    margin: 0 auto;
    padding: 20px;
    color: #283618;
}
