---
---

@import "{{ site.theme }}";
body {
    font-family: 'Roboto', sans-serif; 
    color: #283618;
    background-color: #FEFAE0;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box;*/
}

header {
    background-color: #606C38;
    color: #606C38;
    padding: 1em;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: blue; /* Change the color of all headers*/
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #BC6C25;
    font-weight: bold;
}

nav a:hover {
    color: #3498db;
}

main {
    padding: 30px;
    background-color: #606C38;
    color: #DDA15E;
    width: 90%;
}

section {
    margin-bottom: 60px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
